<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link crossorigin="anonymous"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Something wrong</title>
</head>
<body style="align-content: center">
    <div style="padding: 400px">
        <h2>Please, enter your amount</h2>
        <a th:href="@{/api/v1/payment/create-payment}">Try again</a>
    </div>
</body>
</html>